#map-canvas {
  width: 100%;
  height: 400px;
}

div.info h3 {
  font-size: 18px;
  margin: 0 0 10px;
}

div.info dl {
  margin: 0;
  color: #000;
}

div.info dt {
  clear:left;
  float:left;
  font-weight: bold;
  margin-right: 0.25em;
}

div.info dt:after {
  content: ": ";
}

div.info dd {
  clear:right;
  margin: 0;
}

#new-address button.sample {
  border: none;
  background: transparent;
  text-decoration: underline;
  color: #7a7a7a;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#address-table tr:hover {
  cursor: pointer;
}

button.btn {
  margin-top: -10px;
}
